.login__bg {
    background-image: url(https://unsplash.com/photos/7XGtYefMXiQ/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NHx8c2lnbiUyMGlufGVufDB8fHx8MTY3MTk4OTE0MQ&force=true);
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}